/* 自定义落地页
----------------------------------------------- */
#loading {
 padding-bottom: 50px;
}
@media (min-width:992px) {
 #loading {
  width: 500px;
  margin: 0 auto;
 }
}
#loading .load-con img {
 max-width: 100%;
}
#loading .load-form {
 padding-top: 20px;
}
#loading .load-form dl {
 zoom: 1;
 overflow: hidden;
 margin-bottom: 20px;
 padding: 0 10px;
}
#loading .load-form dl dt {
 width: 80px;
 float: left;
}
#loading .load-form dl dt i {
 color: red;
}
#loading .load-form dl dd {
 margin-left: 100px;
}
#loading .load-form dl dd .text-input {
 width: 100%;
}
#loading .load-form .load-submit {
 text-align: center;
}
#loading .load-form .load-submit .btn {
 width: 100%;
 padding: 10px 0;
 border-radius: 4px;
 color: #FFF;
}
#loading .load-back-home {
 padding: 30px 0;
 text-align: center;
}
#loading .load-back-home a {
 font-size: 18px;
}
#loading .load-tel {
 width: 500px;
 margin: 0 auto;
 position: fixed;
 bottom: 0;
 right: 0;
 left: 0;
 z-index: 1030;
 background-color: #EEA500;
}
@media (max-width:992px) {
 #loading .load-tel {
  width: 100%;
 }
}
#loading .load-tel a {
 display: block;
 color: #FFF;
 text-align: center;
 padding: 12px 0;
 font-size: 16px;
}